What is the result of the following operation : 11/2

In [1]:
11//2

5

What is the value of x after the following is run : 
x=4
x=x/2

In [2]:
x=4
x=x/2

What is the result of "hello mike".find("mike")

In [3]:
"hello mike".find("mike")

6

In [4]:
"Michael Jackson"[-1]

'n'

In [5]:
print("AB\nC\nDE")

AB
C
DE

In [6]:
3+2*2

7

In [7]:
int(True)

1

In [8]:
'1'+'2'

'12'

In [9]:
myvar='hello'

myvar.upper()

'HELLO'

In [10]:
str(1)+str(1)

'11'

In [11]:
'123'.replace('12','ab')

'ab3'

In [12]:
1/1

1.0

In [13]:
(1,2,3,4,5)[1:4]

(2, 3, 4)

In [14]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [15]:
A=[0,2,3,4]

In [16]:
A[0:6]

[0, 2, 3, 4]

In [17]:
A=["hard rock",10,1.2]
B=A

In [18]:
B[0] = "banana"

In [19]:
A

['banana', 10, 1.2]

In [20]:
B_copy = A.copy()

In [21]:
B_copy[0] = "hard rock"

In [22]:
A

['banana', 10, 1.2]

In [23]:
type(set([1,2,3]))

set

In [24]:
set({"a","b","c"}) & set({"a","b","d"})

{'a', 'b'}

In [25]:
{"A","A"}

{'A'}

In [26]:
len((1,2,3,4))

4

In [27]:
i=6
i<5

False

In [28]:
5!=5

False

In [29]:
'a'=='A'

False

In [30]:
True or False

True

In [31]:
for x in range(3):
    print(x)

0
1
2

In [32]:
for x in ["A","B","C"]:
    print(x+"A")

AA
BA
CA

In [33]:
for i,x in enumerate(["A","B","C"]):
    print(i,x)

0 A
1 B
2 C

In [34]:
len([1,2,4])

3

In [35]:
len([sum([1,2,3,4])])

1

In [36]:
L = [1,3,2]
sorted(L)

[1, 2, 3]

In [37]:
x = 'go'

if (x=='go'):
    print('go')

print('mike ')

go
mike

In [38]:
class Points(object):
  def __init__(self,x,y):

    self.x=x
    self.y=y

  def print_point(self):

    print('x=',self.x,' y=',self.y)

p1=Points(1,2)
p1.print_point()

x= 1  y= 2

In [39]:
x=0
while(x<2):
    print(x)
    x=x+1

0
1

In [40]:
for i,x in enumerate(['A','B','C']):
    print(i+1,x)

1 A
2 B
3 C

In [41]:
class Points(object):

  def __init__(self,x,y):

    self.x=x
    self.y=y

  def print_point(self):

    print('x=',self.x,' y=',self.y)

p2=Points(1,2)

p2.x='A'

p2.print_point()

x= A  y= 2

In [42]:
def delta(x):
  if x==0:
    y=1
  else:
    y=0
  return(y)

In [43]:
a=1

def do(x):
    a=100
    return(x+a)

print(do(1))

101

In [44]:
x=5
while(x!=2):
  print(x)
  x=x-1

5
4
3

In [45]:
class Points(object):
  def __init__(self,x,y):

    self.x=x
    self.y=y

  def print_point(self):

    print('x=',self.x,' y=',self.y)

p1=Points(1,2)
p1.print_point()

x= 1  y= 2

In [46]:
for i,x in enumerate(['A','B','C']):
    print(i+1,x)

1 A
2 B
3 C

In [47]:
class Points(object):
  def __init__(self,x,y):

    self.x=x
    self.y=y

  def print_point(self):

    print('x=',self.x,' y=',self.y)

p2=Points(1,2)

p2.x=2

p2.print_point()

x= 2  y= 2

In [48]:
def delta(x):
  if x==0:
    y=1
  else:
    y=0
  return(y)