In [1]:
from pycoingecko import CoinGeckoAPI
import pandas as pd

In [2]:
cg = CoinGeckoAPI()

In [3]:
bitcoin_data = cg.get_coin_market_chart_by_id(id='bitcoin', vs_currency='usd', days=30)

In [7]:
df = pd.DataFrame(bitcoin_data['prices'], columns=['Timestamp', 'Price'])

In [9]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='ms')

In [11]:
df.head()

                Timestamp         Price
0 2023-08-25 14:00:58.506  26119.376416
1 2023-08-25 15:00:51.110  25836.021433
2 2023-08-25 16:00:59.294  25926.051363
3 2023-08-25 17:01:00.273  25930.086258
4 2023-08-25 18:00:06.664  25903.587335