In [1]:
name='lizz'
name[0:2]

'li'

In [2]:
var='01234567'
var[::2]

'0246'

In [3]:
float(3)

3.0

In [4]:
1/2

0.5

In [8]:
'heelo sir'.split(' ')

['heelo', 'sir']

In [9]:
B = [1,2,4]

In [10]:
b=set(B)

In [11]:
b

{1, 2, 4}

In [15]:
x= '4'
if(x!=1): 
 print('How are you?') 
else: 
 print('Hi')

How are you?

In [16]:
A=['1','2','3']

for a in A:
    print(2*a)

11
22
33

In [18]:
for i in range(1,5):
    if(i!=1):
        print(i)

2
3
4

In [23]:
import numpy as np
import pandas as pd

In [20]:
a = np.array([0,1,0,1,0])
b = np.array([1,0,1,0,1])
a*b

array([0, 0, 0, 0, 0])

In [21]:
a = np.array([1,1,1,1,1])

In [22]:
a+10

array([11, 11, 11, 11, 11])

In [24]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}

In [26]:
df = pd.DataFrame(data)

In [27]:
df[['Name']]

    Name
0    Tom
1   Jack
2  Steve
3  Ricky